@sharelot:registry=https://asia-northeast1-npm.pkg.dev/foo-bar/fixture-repository/
//asia-northeast1-npm.pkg.dev/foo-bar/fixture-repository/:always-auth=true
public-hoist-pattern[]=*foo*
auto-install-peers=true
legacy-peer-deps=true
node-linker=hoisted
//asia-northeast1-npm.pkg.dev/foo-bar/fixture-repository/:_authToken=xxxxxxxxxxxxxx
