registry=https://npm.pkg.github.com
@foo:registry=https://asia-northeast1-npm.pkg.dev/foo-bar/fixture-repository/
//asia-northeast1-npm.pkg.dev/foo-bar/fixture-repository/:always-auth=true
//asia-northeast1-npm.pkg.dev/foo-bar/fixture-repository/:_authToken=xxxxxxxxxxxxxx
